#landing{
    max-width: 1440px;
    color: var(--whitePiano);
    margin: auto;
    
}
.quemSomos, .encontrosEProjeto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    gap: 50px;
}
.quemSomos{
    align-items: center;
}
.quemSomos > *,.encontrosEProjeto > *{
    width: 45%;
}
.quemSomos h2,.encontrosEProjeto h2{
    font-family: 'Playfair Display', serif;
    font-size: var(--fontSubTitle);
    line-height: var(--lineSubTitle);
}
.quemSomos p,.encontrosEProjeto p{
    font-family: var(--fontFamilyContent);
    font-size: var(--fontText);
    line-height: var(--lineText);
}

#projetoDownload{
    color: var(--whitePiano);
    font-family: var(--fontFamilyContent);
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    padding: 1rem 0;
    width: 80%;
    margin: auto;

    border-radius: 15px;
    border: 2px solid var(--accent);
}
/* Contato */

.contato{
    margin: 2rem 0;
    justify-content: center;
    display: flex;
}

.contato__container{
    border: 1px solid var(--accent);
    width: 60%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.contato form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}

.contato form textarea{
    resize: none;
}

.contato__container div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato__container form input ,.contato__container form textarea, .contato__container form button{
    background: none;   
    padding: 1rem;
    color: var(--whitePiano);
    border: 1px solid var(--whitePiano);
}

@media only screen and (max-width: 768px){
    .contato__container{
        flex-direction: column;
    }
    #contatoForm{
        width: 100%;
    }
    .contato__container > div{
        text-align: center;
        width: 100%;
    }
}



.mailError{
    border: 1px solid var(--accent) !important;
}
.mailsuccess{
    border: 1px solid #acf3a0 !important;
    color: #acf3a0 !important; 
}

#errorFeedback{
    color: var(--accent);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#contatoMensage-errorFeedback, #contatoName-errorFeedback, #contatoMail-errorFeedback{
    color: var(--accent);
}

#contatoForm > div{
    width: 100% !important;
}

.valores__list{
    list-style: disc;
    list-style-position: inside;
}
.valores__list li{
    margin: .8rem 0;
}