@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(reset.css);
@import url(index.css);

:root{
/* COLORS */
    --azulEscuroProfundo: #001f3f ;
    --azulMarinho: #003366 ;
    --azulCeleste: #336699 ;
    --branco: #fbfbfe ;
    --amareloOuro: #ffd700 ;
    --cinzaClaro: #cccccc ;
    --preto: #000000 ;
    --texto: #050316 ;
/* ------ */


/* Typo Scale */
    --paragraphSize1:18px;
    --paragraphLine1:32px;
    --paragraphWeight1:400;
    --paragraphWeight1_B:700;

    --paragraphSize2:16px;
    --paragraphLine2:26px;
    --paragraphWeight2:400;
    --paragraphWeight2_B:700;
    
    --paragraphSize3:14px;
    --paragraphLine3:24px;
    --paragraphWeight3:400;
    --paragraphWeight3_B:700;

/* ---------- */
}
/* Typo H */
h1{
    font-size: 70px ;
    line-height: 70px ;
    font-weight: 700 ;
}
h2{
    font-size: 60px ;
    line-height: 70px ;
    font-weight: 700 ;
}
h3{
    font-size: 46px ;
    line-height: 50px ;
    font-weight: 700 ;
}
h4{
    font-size: 30px ;
    line-height: 45px ;
    font-weight: 700 ;
}
h5{
    font-size: 18px ;
    line-height: 26px ;
    font-weight: 400 ;
}
/* ------ */


body{
    background-color: var(--branco);
    font-family: "Poppins", sans-serif;
}

